body {
    margin: 0;
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, "Helvetica Neue", Arial, "Noto Sans",
                 sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

header {
    grid-area: header;
    background-color: #3C8527;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

header h1 {
    font-size: 39px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin-bottom: 5px;
}

header p {
    margin-top: 0;
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #FFFFFF;
    object-fit: cover;
}

aside {
    grid-area: sidebar;
    padding: 30px;
}

aside section {
    margin-bottom: 30px;
}

aside h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.about {
    background-color: #E2E8F0;
    padding: 20px;
}

.about h3 {
    color: #333322;
}

aside section:not(.about) h3 {
    color: #28651C;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside a {
    color: #2879B8;
    text-decoration: none;
}

main {
    grid-area: main;
    padding: 30px;
}

article {
    margin-bottom: 50px;
    overflow: auto;
}

article h2 {
    font-size: 34px;
    color: #28651C;
    margin-bottom: 5px;
}

.post-info {
    color: #667267;
    margin-top: 0;
}

.post-image-right {
    width: 250px;
    height: 180px;
    object-fit: cover;
    float: right;
    margin: 0 0 15px 20px;
}

.post-image-left {
    width: 250px;
    height: 180px;
    object-fit: cover;
    float: left;
    margin: 0 20px 15px 0;
}

footer {
    grid-area: footer;
    background-color: #28651C;
    color: #FFFFFF;
    padding: 20px;
}